<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="ConversorDrawind.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="ConversorDrawind.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<connectionStrings/>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><userSettings>
        <ConversorDrawind.Properties.Settings>
            <setting name="ConversorAtual" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OpeACAD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConversorAtualConfig" serializeAs="String">
                <value/>
            </setting>
            <setting name="Extensao" serializeAs="String">
                <value>DWG</value>
            </setting>
            <setting name="OQueHaDeNovo4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StatusConversor" serializeAs="String">
                <value>0</value>
            </setting>
        </ConversorDrawind.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ConversorDrawind.Properties.Settings>
            <setting name="Versao" serializeAs="String">
                <value>Versão 2023</value>
            </setting>
        </ConversorDrawind.Properties.Settings>
    </applicationSettings>
</configuration>
